/* @-webkit-keyframes breath { */
@keyframes breath {
    0%   {  
        background-image: url("img/img01.jpg");
        background-size: 110% auto;
     }
   
    50%{
        opacity: 1;
        background-image: url("img/img02.jpg"); 
        background-size: 140% auto;
        /* background-color: rgba(240, 248, 255,0.9); */
        
    }
 
    100% {  
        background-size: 110% auto; 
        background-image: url("img/img03.jpg");
        opacity: 1;
    }   
/* https://www.bitdegree.org/learn/css-animation */
   }
   @keyframes learn {
    0%{
        opacity: 1;
    }
}

.back { 
    position: relative; 
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* background-image: url('https://placekitten.com/1200/800'); */
    background-size: cover;
    /* -webkit-animation: breath 15s linear infinite; */
    animation: breath 21s ease-in-out infinite ;
    
    
}



